<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="author" content="lucky">
  <script th:src="@{/webjars/vue/dist/vue.min.js}"></script>

  <title>Nine OAuth 管理系统</title>
</head>
<body >
  <div id="app"></div>
</body>
</html>
